<a href="https://colab.research.google.com/github/JaeYoung-So/python/blob/main/7%EC%9E%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

피보나치수열

In [ ]:
def fib(n):
  if n>1:
    return fib(n-1)+fib(n-2)
  else:
    return n

In [ ]:
fib(10)

55

In [ ]:
fib(20)

6765

In [ ]:
fib(30)

832040

In [ ]:
fib(40)

102334155

In [ ]:
def run_fib(n):
  from time import perf_counter
  start = perf_counter()
  answer = fib(n)
  finish = perf_counter()
  print("fib(",n,") => ",answer,sep="")
  print(round(finish-start,4), "seconds")

In [ ]:
run_fib(10)

fib(10) => 55
0.0 seconds

In [ ]:
def fib(n):
  if n>1:
    i = 2
    a,b, = 0,1
    while i <= n:
      a,b = b, a+b
      i+=1
    return b
  else:
    return n

In [ ]:
fib(40)

102334155

In [ ]:
def fib(n):
  if n>1:
    a,b, = 0,1
    for _ in range(2,n+1):
      a,b = b, a+b
    return b
  else:
    return n

In [ ]:
fib(40)

102334155

In [ ]:
def fibseq(n):
  fibs = [0,1]
  for i in range(2,n+1):
    fibs.append(fibs[i-1]+fibs[i-2])
  return fibs

In [ ]:
fibseq(15)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

In [ ]:
def fib(n):
  return fibseq(n)[-1]

In [ ]:
fib(10)

55

In [ ]:
def fib(n):
  fib1 , fib2 = 1, 0
  if n > 1:
    i = 2
    while i <= n:
      fib2, fib1 = fib1, fib1+fib2
      i+=1
    return fib1
  else:
    return n

In [ ]:
fib(7)

13

<조합>

In [ ]:
def comb(n,r):
  if r != 0 and r != n:
    return comb(n-1,r-1) + comb(n-1,r)
  else:
    return 1

In [ ]:
comb(10,3)

120

In [ ]:
comb(30,10)

30045015

In [ ]:
combdict = {}
def comb(n,r):
  if r != 0 and r != n:
      if combdict.get((n,r)) == None:
        combdict[(n,r)] = comb(n-1,r-1)+comb(n-1,r)
      return combdict[(n,r)]
  else:
    return 1

In [ ]:
comb(10,3)

120

In [ ]:
comb(30,10)

30045015

In [ ]:
def comb_pascal(n,r):
  row0 = [1 for _ in range(r+1)]
  matrix = [row0] + [[1] for _ in range(n-r)]
  for i in range(1, n-r+1):
    for j in range(1, r+1):
      newvalue = matrix[i][j-1] + matrix[i-1][j]
      matrix[i].append(newvalue)
  return matrix[n-r][r]

In [ ]:
comb_pascal(10,3)

120

In [ ]:
comb_pascal(30,10)

30045015

In [ ]:
def comb_pascal(n,r):
  vector = [1 for _ in range(r+1)]
  for _ in range(1, n-r+1):
    for j in range(1, r+1):
      vector[j] = vector[j-1]+vector[j]
  return vector[r]

In [ ]:
comb_pascal(30,10)

30045015

하노이의 탑

In [ ]:
def tower_of_hanoi(n, source, destin, temp):
  if n>1:
    tower_of_hanoi(n-1,source, temp, destin)
    print("Move a disk from", source,"to",destin)
    tower_of_hanoi(n-1,temp,destin,source)
  else:
    print("Move a disk from",source,"to",destin)

In [ ]:
tower_of_hanoi(3,"A","C","B")

Move a disk from A to C
Move a disk from A to B
Move a disk from C to B
Move a disk from A to C
Move a disk from B to A
Move a disk from B to C
Move a disk from A to C

In [ ]:
def hanoi(n,source,destin,temp):
  global count
  if n>1:
    hanoi(n-1,source,temp,destin)
    count += 1
    hanoi(n-1,source,destin,source)
  else:
    count += 1


for n in [4,6,8,16,24,25,26,27,28]:
  count = 0
  from time import perf_counter
  start = perf_counter()
  hanoi(n,"A","B","C")
  finish = perf_counter()
  cpu_time = round(finish-start,1)
  print(n,"disks:",count,"move-in",cpu_time,"seconds")

4 disks: 15 move-in 0.0 seconds
6 disks: 63 move-in 0.0 seconds
8 disks: 255 move-in 0.0 seconds
16 disks: 65535 move-in 0.0 seconds
24 disks: 16777215 move-in 4.0 seconds
25 disks: 33554431 move-in 8.2 seconds
26 disks: 67108863 move-in 14.9 seconds
27 disks: 134217727 move-in 29.4 seconds
28 disks: 268435455 move-in 59.1 seconds

In [ ]:
count = 0
def hanoi(n,source,destin,temp):
  global count
  if n>1:
    hanoi(n-1,source,temp,destin)
    count += 1
    hanoi(n-1,source,destin,source)
  else:
    count += 1

In [ ]:
hanoi(8,"A","B","C")
print(count)

255

In [ ]:
def coins(n):
  if n >= 7:
    return 1 + min([coins(n-x) for x in[7,5,2,1]])
  elif n >= 5:
    return 1 + min([coins(n-x) for x in[5,2,1]])
  elif n >= 2:
    return 1 + min([coins(n-x) for x in[2,1]])
  else:
    return n

In [ ]:
coins(28)

4

In [ ]:
clist = []
def coins_num(n):
  global clist
  clist = [None for _ in range(n+1)] #1원으로만 지급하는 방법 으로 초기 값 작성
  return coins(n)

allcoins=[7,5,2,1]
def coins(n):
  mycoins = [x for x in[7,5,2,1] if x <= n]
  if n > 1:
    if None == clist[n]:
      clist[n] = 1 + min([coins(n-x) for x in mycoins])
    return clist[n]
  else:
    return n

In [ ]:
coins_num(35)

5

In [ ]:
ctypes = [7,5,2,1]
def coins(n):
  mycoins = [x for x in[7,5,2,1] if x <= n]
  if n > 1:
    return 1 + min([coins(n-x) for x in mycoins])
  else:
    return n

In [ ]:
ctypes = [7,5,2,1]
def coins(n):
  mycoins = [x for x in[7,5,2,1] if x <= n]
  if n > 1:
    return 1 + min([coins(n-x) for x in mycoins])
  else:
    return n

In [ ]:
coins(25)

5

In [ ]:
def coins(n):
  clist = [0]
  for i in range(1,n+1):
    mycoins = [x for x in[7,5,2,1] if x <= i]
    clist.append(1 + min([clist[i-x] for x in mycoins]))
  return clist[n]

In [ ]:
coins(5)

1

In [ ]:
#p.255. 연습문제 5.11
#시퀀스 연산 's[i:j]'

In [ ]:
def sublist(s, low, high):
  if low < 0 or high < 0 or s == []:
    return []
  elif low > 0:
    return sublist(s[1:],low-1,high-1)
  elif high > 0:
    return [s[0]]+sublist(s[1:],0,high-1)
  else:
    return []

In [ ]:
s = [1,2,3,4,5]
print(sublist(s,0,3))
print(sublist(s,0,6))

[1, 2, 3]
[1, 2, 3, 4, 5]

멱집합 (powerset)은 모든 부분집합의 집합
리스트를 집합처럼 생각해서 모든 부분집합의 어쩌구

In [ ]:
def powerlist(xs):
  if xs ==[]:
    return [[]]
  else:
    #xs[0] include pwer list = xs[1:]list
    ps1 = powerlist(xs[1:])
    ps0 = [[xs[0]]+ys for ys in ps1]
    return ps0 + ps1

In [ ]:
powerlist([1,2])

[[1, 2], [1], [2], []]

In [14]:
def coins(n):
  clist = [(0,{})]
  for i in range(1,n+1):
    mycoins = [x for x in [7,5,2,1] if x <= i]
    clist.append( (1+min([clist[i-x][0] for x in mycoins]),{}))
  return clist[n]

#과제에 나올 내용

In [15]:
coins(12)

(2, {})